@media (max-width: 600px) {
  :root {
    font-size: 2vw;
  }

  .fa-bars {
    display: inline-block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--blackColour);
    width: calc(var(--unit) * 15);
    height: calc(100vh - var(--unit) * 4 + var(--unit) / 4);
  }

  .navbar.active {
    right: 0;
  }

  .navbar a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  /* Home */
  .home {
    width: 100%;
    padding: 0px;
    background-position: center;
    justify-content: center;
    text-align: center;
  }

  .home-h3 {
    font-size: calc(var(--unit) * 1.1);
  }

  .sticky-note {
    display: none;
  }
  /* Home end */
}
