@media (max-width: 600px) {
  :root {
    font-size: 2vw;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    line-height: 3rem;
    background: var(--blackColour);
    width: calc(var(--unit) * 10);
  }
  .navbar.active {
    right: 0;
  }
  .navbar a {
    color: var(--white);
    display: block;
    margin: calc(var(--unit) * 0.75);
    padding: calc(var(--unit)/4);
    font-size: var(--unit);
  }
  .fa-bars {
    display: inline-block !important;
  }
  .sticky-note {
    display: none;
  }
  #home {
    padding: 20%;
  }
  #home section {
    width: 100%;
  }
  .contact .row{
    flex-direction: column;
  }
}
