.blog {
  justify-content: center;
}
#blog {
  font-size: calc(var(--unit) * 1.5);
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  padding: calc(var(--unit) / 5);
  padding-top: calc(var(--unit));
}
.blog span {
  text-transform: uppercase;
  color: var(--primaryColour);
}
.blog .box-container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--primaryBorder);
  overflow: hidden;
}
.blog .box-container .box .image img {
  width: 100%;
}
#title {
  font-size: calc(var(--unit) / 2 * 1.5);
  color: var(--primaryColour);
}
.blog .box-container .box:hover .image img {
  transform: scale(1.1);
}

.blog .box-container .box .content #byadmin-span {
  color: var(--primaryColour);
  display: block;
  padding-top: calc(var(--unit) / 4);
}

.blog .box-container .box .content p {
  font-size: calc(var(--unit) / 2 * 1.2);
  color: #ccc;
  padding: calc(var(--unit) * 0.1) 0;
}
