.products {
  justify-content: center;
}
#products {
  font-size: calc(var(--unit) * 1.5);
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  padding: calc(var(--unit) / 5);
  padding-top: calc(var(--unit));
}
.products span {
  text-transform: uppercase;
  color: var(--primaryColour);
}

.box-container {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--unit) * 10), 1fr));
  gap: calc(var(--unit)*0.75);
}

.products .box-container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(var(--unit)/2) calc(var(--unit)*1.5);
  text-align: center;
  border: var(--primaryBorder);
}
.products .box-container .box:hover {
  /* background: var(--boxHoverColour); */
  background: var(--boxHoverColour);
  transition: 0.5s;
  cursor: pointer;
}
.products .box-container .box .icons {
  display: flex;
  justify-content: center;
  gap: var(--unit);
  margin: auto;
  width: 20px;
}
.icons a {
  color: whitesmoke;
}

.products .box-container .box .icons a:hover {
  color: var(--primaryColour);
}

.products .box-container .box img {
  width: 100%;
}

.products .box-container .box .content h3 {
  color: var(--white);
  font-size: 60%;
}

.products .box-container .box .content .stars {
  padding: 0 calc(var(--unit)*0.75);
  color: var(--primaryBorder);
}

.products .box-container .box .content .stars i {
  font-size: 60%;
}

.products .box-container .box .content .price {
  color: var(--white);
  font-size: 90%;
}

.products .box-container .box .content .price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: calc(var(--unit) * 0.75);
}
